<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <div class="nav bg-teal-100 px-10 py-9">news</div>
    <div class="flex">
        <div class="nav">news</div>
        <div class="nav">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, eos cum mollitia debitis repellat sunt laborum consequatur commodi quibusdam, quos corporis cupiditate incidunt ducimus nesciunt error corrupti sapiente quaerat possimus!</div>
       
    </div>
</body>
</html>